
#
# Modifications for Samsung Galaxy S8+ (dream2lte)
#
CONFIG_CAMERA_CIS_3M3_OBJ=y
CONFIG_CAMERA_DREAM2=y
CONFIG_POC_DREAM2=y
CONFIG_SENSORS_HRM_ADPD143=y
CONFIG_TOUCHSCREEN_SEC_TS=y
CONFIG_OIS_USE_RUMBA_S4=y
CONFIG_MOTOR_DRV2624=y

