
#
# Modifications for Samsung Galaxy Note 8 (greatlte)
#
CONFIG_TOUCHSCREEN_SEC_TS_Y661=y
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9018=y
CONFIG_CAMERA_CIS_3M3_OBJ=y
CONFIG_CAMERA_GREAT=y
CONFIG_OIS_USE_RUMBA_S6=y
CONFIG_PANEL_POC_2_0=y
CONFIG_SEC_ABC=y
